{% extends 'layout.html' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card-group">
        {% for game in object_list.all %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><a href={% url 'game:game_detail' pk=game.pk %}>{{ game.name }}</a></h5>
              <p class="card-text">Players:</p>
              <ul class="list-group list-group-flush">
                {% for player in game.users.all %}
                  <li class="list-group-item">{{ player.username }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    <div class="col-12">
  </div>
{% endblock %}