{% extends 'layout.html' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Dashboard</h1>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">LeaderBoard</h5>

        </div>
      </div>
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Revenue Phase</h5>

          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Event Phase</h5>

          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Challenge Phase</h5>

          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Subterfuge Phase</h5>

          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Spoils Phase</h5>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}